@font-face {
  font-family: "Sixtyfour";
  src: url("./fonts/Sixtyfour-Regular-VariableFont_BLED_SCAN.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Kanit-Light";
  src: url("./fonts/Kanit-Light.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Kanit-Bold";
  src: url("./fonts/Kanit-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

body {
  color:  #42446e;
  font-family: "Kanit-Light", sans-serif;
}


a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
img,
ol {
  margin: 0;
  padding: 0;
      font-size: 1em;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

svg {
  display: block;
}

img {
  display: block;
  height: auto;
}

.container {
  margin: 0 100px 0 100px;
}
