.header {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--dark-hover);
}

.header__wrapper {

}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.nav__list__item {
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.nav__list__item:hover,
.nav__list__item:focus {
  color: var(--secondary-color);
}

.theme {
  margin-right: 20px;
}

.theme__button {
  position: relative;
  width: 50px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid var(--main-color);
  padding: 4px;
  cursor: pointer;
  background-color: transparent;
  
}

.theme__switch {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  left: 0;
  top: 2px;
  background-color: var(--main-color);
  // transform: translateX(25px);
  // transition-duration: 200ms;

}

.nav__contacts {
  display: flex;
  align-items: center;
}

.nav__contacts__item {
  padding: 10px;
}

.nav__contacts__item:not(:last-child) {
  margin-right: 20px;
}

.nav__contacts__link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav__contacts__svg {
  width: 30px;
  height: 30px;
  fill: var(--main-color);
}

.nav__contacts__svg:hover,
.nav__contacts__svg:focus {
  fill: var(--secondary-color);
}

.human {
  width: 100px;
  margin-bottom: 20px;
}
