.header {
  padding: 20px 30px;
}

.header__wrapper {
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav__list {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.nav__list__item {
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
}

.nav__list__item:not(:last-child) {
  margin-right: 20px;
}

.nav__list__item:hover,
.nav__list__item:focus {
  color: #a0cafb;
}

.nav__contacts {
  display: flex;
  align-items: center;
}

.nav__contacts__item {
  padding: 10px;
}

.nav__contacts__item:not(:last-child) {
  margin-right: 20px;
}

.nav__contacts__link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav__contacts__svg {
  width: 30px;
  height: 30px;
  fill: #42446e;
}

.nav__contacts__svg:hover,
.nav__contacts__svg:focus {
  fill: #a0cafb;
}

.human {
  width: 100px;
  margin-bottom: 20px;
}
