.section-hero {
  padding: 60px 30px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero__title-wrapper {
  width: 650px;
}

.hero__title {
  font-family: "Kanit-Bold";
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
}

.hero__title-name {
  background: linear-gradient(45deg, #42446e 33%, #0057b8 66%, #ffd700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__img-wrapper {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.hero__img-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  padding: 10px;
  background: linear-gradient(to top, #ffd700, #0057b8);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.hero__img {
  width: 350px;
  height: auto;
}
