.stack {
  padding-top: 30px;
  padding-bottom: 30px;
}

.stack__title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stack__title {
  font-family: "Kanit-Bold";
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 10px;
}
.stack__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 30px;
}

.stack__list-wrapper {
  padding: 50px;
  background-color: var(--secondary-light-color);
}

.stack__list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-row-gap: 20px;
  justify-items: center;
}

.stack__svg {
  width: 80px;
  height: 80px;
}
